#main .peque{
    color: #383836;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 0%;
}

.contenedor { 
    width: 100%; 
    
}
.columna-derecha{
    background-color: #006599;
	color: rgb(241, 241, 241);
    position: relative;
}





